<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

<link type="text/css" rel="stylesheet" href="/css/zookeeper_dashboard.css" />
<title>ZooKeeper Dashboard</title>
</head>

<body>
<div class="container">
<h1>ZooKeeper Dashboard</h1>
<hr/>
<div class="span-24 last">
<h2>Cluster Information</h2>

<table>
<tr><th>server</th><th>mode</th><th>#conn</th><th>version</th></tr>
  {% for sd in server_data %}
  <tr class="{% cycle 'oddrow' 'evenrow' %}"><td><a href="cluster/server/{{sd.id}}">{{ sd.host }}:{{ sd.port }}</a> </td><td> {% ifequal sd.mode "leader" %}<b>{% endifequal %} {{sd.mode|capfirst}} {% ifequal sd.mode "leader" %}</b>{% endifequal %} </td><td> {{ sd.sessions|length }} </td><td> {{ sd.version }}</td></tr>
  {% endfor %}
</table>
<p>
</div>

<hr/>

<div class="span-24 last">
<h2>ZNode Tree</h2>

<a href="/tree">Root ZNode of the cluster</a>
<p>
</div>
<hr/>
<div class="span-24 last">
<h2>Quota Definition</h2>

Information on the current quota configuration

<a href="/tree/zookeeper/quota">Quota</a>
<p>
</div>
<hr/>
<div class="span-24 last small quiet">
<address>
<a href="http://github.com/phunt/zookeeper_dashboard#readme">zookeeper_dashboard</a> was created by
<a href="http://twitter.com/phunt">Patrick Hunt</a> and is hosted at GitHub
</address>
</div>
</div>

</body></html>
